// const Toast = styled(ToastContainer)`
//   .Toastify__toast--info {
//     background: 'rgb(51, 102, 255)';
//   }
// .Toastify__toast--warning {
//     background: 'rgb(254, 255, 20)';
//   }
// .Toastify__toast--error {
//     background: 'rgb(255, 102, 102)';
//   }
// `;
.Toastify__toast--success {
  background: rgb(52, 25, 94);
  color: rgb(248, 248, 252);

  font: 400 16px "Roboto", sans-serif;

  .Toastify__close-button {
    color: rgb(155, 141, 182);
  }
}