.theme-dark {
    --theme-text-primary: #ebe7e7;
    --theme-text-secondary: #8a8a99;
    --theme-background: #201c2b;
    --theme-link: #e559f9;
    --theme-principal: #835afd;
    --theme-border: #47396d;
    --theme-background-component: #3c2e63;
    --theme-answered-background: #392f55;
    --theme-background-modal: #18072c;
}

.theme-light {
    --theme-text-primary: #29292e;
    --theme-text-secondary: #737380;
    --theme-background: #f8f8f8;
    --theme-link: #e559f9;
    --theme-principal: #835afd;
    --theme-border: #e2e2e2;
    --theme-background-component: #fefefe;
    --theme-answered-background: #dbdcdd;
    --theme-background-modal: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--theme-background);
    color: var(--theme-text-primary);
}

body,
input,
button,
textarea {
    font: 400 16px "Roboto", sans-serif;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-background-component) var(--theme-background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--theme-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--theme-border);
    border-radius: 20px;
    border: 3px solid var(--theme-background);
}
