.Modal {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  margin-left: -25%;
  margin-top: -10%;
  background: var(--theme-background-modal);
  border-radius: 8px;

  flex-direction: column;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .header-container {
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 24px;
      color: var(--theme-text-primary);
    }

    span {
      margin-top: 5px;
      font-size: 16px;
      color: var(--theme-text-secondary);
    }
  }

  .footer-container {
    display: flex;
    gap: 16px;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0,0.8);
  // opacity: 0.8;
}
